html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

th,td {
  padding: 0.2rem 0.5rem;
}
tr {
  background-color: #fafafa;
}
tr:nth-child(odd) {
  filter: brightness(0.9);
}

.highlight {
  background-color: #fef3c7;
}

input[type='text']{
  width: 8rem;
}
input[type='number'] {
  width: 4rem;
}
